body {
	background-color: #c4e3ef;
}
.container {
	width: 25em;
}

.btn-group {
	margin-top: 10px;
}
.btn {
	height: 4em;
	border-radius: 0;
	background-color: #82bfd8;
	border-color: #7ab4cc;
	color: #efeaea;
	text-transform: uppercase;
	font-weight: bold;
}
.btn:hover{
	background-color: #61aac6;
	border-color: #61aac6;
	color: efeaea;
}
.btn:focus{
	background-color: #61aac6;
	border-color: #61aac6;
	color: efeaea;
}
.search-wrapper {
 background-color: white;
 padding: 15px;
}
#search {
	background-color: white;
}
#people {
	background-color: white;
}
img {
	height: 65px;
	width: 65px;
	border-radius: 50%;
	margin: 0 15px 5px 10px;
}
.stream{
	text-align: left;
}
a {
	text-decoration: none;
	color: #61AAC6;
	font-weight: bold;
	font-size: 18px;
	margin: 0;
}
.status {
	float: right;
	margin: 23px;
	font-size: 20px;
}
.hidden{
	display: none;
}
.filtered {
	display: none;
}
p {
	margin: 0;
	font-weight: bold;
	display:inline-block;
	color: #61AAC6;
}
